/*
h1 {
    color: white;
    background-color: purple;
    text-align: center;
    border: 10px black;
    margin-bottom: 100px;

    padding-top: 20px;
    padding-bottom: 20px;
}

*/

h1{
    color: pink;
}

.title {
    background-color: blueviolet;
}

#important {
    color: yellow;
}

